{% extends '__base.jinja2' %}

{% block content %}
    <form action="#" method="POST">
        {{ form.hidden_tag() }}
        {{ form.opts }}
        <br>
        {{ form.price.label }}
        {{ form.price }}
        <br>
        {{ form.submit }}
    </form>
{% endblock %} {# End of block content #}