{% extends '__base.jinja2' %}

{% block content %}
    <main>
        <form action="#" method="POST">
            {{ form.hidden_tag() }}
            {{ form.opts.label }}
            <br>
            {{ form.opts }}
            <br>
            {{ form.price.label }}
             <br>
            {{ form.price }}
            <br>
            {{ form.submit }}
        </form>
    </main>
{% endblock %} {# End of block content #}