{% extends '__base.jinja2' %}

{% block content %}
    <header class="hero-header">
        <div class="text">
            <h1>Pro jednoho odpad,
                <br>
                pro druhého poklad
            </h1>
            <p>Zjistěte, proč právě my jsme ti praví partneři pro vaše sběrné suroviny.</p>
        </div>
    </header>

    <section id="about-us">
        <div class="text">
            <h2>O nás</h2>
            <p>Jsme společnost, která má již přes 30 let zkušeností v odpadovém hospodářství. Naši hlavní zásadou je
                šetrnost k životnímu prostředí. Proto od Vás vykupujeme širokou škálu materiálů od těch nejběžnějších po
                ty nejnebezpěčnější.</p>
        </div>
        <img src="{{ url_for('static', filename='img/our-yard.jpg' ) }}" alt="Naše sběrna">
    </section>

    <section id="stats">
        <h2>Vykoupili jsme</h2>

        <div class="content">
            <div class="stat-card-list">
                {% for material, amount in data.items() %}
                    <div class="stat-card">
                        <p class="material-name">{{ material }}</p>
                        <p class="amount">{{ amount }} kg</p>
                    </div>
                {% endfor %}
            </div>

            <button class="secondary">Přehled statistik výkupu</button>
        </div>
    </section>

{% endblock %} {# End of block content #}