{% extends '__base.jinja2' %}

{% block content %}
<h1>Ceník</h1>

<div>

    {% for item in prices_request %}
    <div class="price-list--item">
    <span class="material">{{ item.name }}</span>
    <span class="price">{{ item.price }} Kč/kg</span>
    </div>
    {% endfor %}
</div>
{% if user.is_administrator %}
<div>
<a href="{{ url_for('main.edit_material_price') }}">Edit</a>
</div>
{% endif%}
{% endblock %} {# End of content block #}