{% extends '__base.jinja2' %}

{% block content %}
    <main>
        <h1>Přehled Výkupů</h1>

        <div>

            <a href="{{ url_for('purchase.purchases_add') }}">
                <button class="primary">Přidat Výkup</button>
            </a>
            <div class="list">
                {% for zadost in purchase_request %}
                    <div class="list--item">
                        <div class="list--item--text">
                            <p>{{ zadost.first_name }} {{ zadost.last_name }} - {{ zadost.name }} {{ zadost.weight }}
                                kg {{ zadost.price * zadost.weight }} Kč </p>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>


    </main>
{% endblock %} {# End of block content #}