{% extends '__base.jinja2' %}

{% block content %}
    <main>
        <h1>Přehled Výkupů</h1>
        <div>
            {% if current_user.is_administrator() %}
                <a href="{{ url_for('purchase.view_add_purchase_page') }}">
                    <button class="primary">Přidat Výkup</button>
                </a>
            {% endif %}
            <div class="list">
                {% for purchase in purchases %}
                    <div class="list--item">
                        <div class="list--item--text">
                            <p>{{ purchase.material.name }} ({{ purchase.weight }} Kg)</p>
                            <p class="text-subtle">
                                {% if current_user.is_administrator() or current_user.is_worker() %}
                                    {{ purchase.selling_customer.first_name }} {{ purchase.selling_customer.last_name }}
                                    -
                                {% endif %}
                                {{ moment(purchase.date).format('DD. MM. YYYY') }}</p>
                        </div>
                        <div class="list--item--right">{{ purchase.price }} Kč</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %} {# End of block content #}