/*
 *  VARIABLES DECLARATION
 */

:root {
    --green-primary: #008F66;
    --green-light: #00B884;
    --green-dark: #006649;

    --bg-gray: #F0EDE4;
    --border-gray: #ccc;

    --text-normal: #111111;
    --text-subtle: #707070;

    --success-primary: #22BF4C;
    --success-bg: #D7FBD2;
    --success-text: #003D44;

    --info-primary: #3469F9;
    --info-bg: #D7FBD2;
    --info-text: #091B77;

    --warning-primary: #FFC507;
    --warning-bg: #FFF8CD;
    --warning-text: #7A5201;

    --error-primary: #D82960;
    --error-bg: #FDD7D4;
    --error-text: #67074B;

    --margin-large: 2rem;
}

/*
 *  RESETTING DEFAULT VALUES
 */

* {
    box-sizing: border-box;
    margin: 0;
}

/*
 *  GLOBAL DECLARATIONS
 */

body {
    background-color: var(--bg-gray);
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

/*
    GENERAL TYPOGRAPHY
 */

h1, h2, h3, p {
    color: var(--text-normal);
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

p {
    max-width: 75ch;
    font-size: 1rem;
}


/*
 *  GENERAL LAYOUT
 */

section {
    margin: 3rem auto;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
}

/*
    BASIC COMPONENTS
 */

button {
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.125rem;
    border-radius: 0.5rem;
}

button.primary {
    background-color: var(--green-primary);
    color: white;
    border: 0.125rem solid var(--green-primary);
}

button.primary:hover {
    background-color: var(--green-light);
}

button.primary:focus {
    background-color: var(--green-dark);
}

button.secondary {
    background-color: transparent;
    color: var(--green-primary);
    border: 0.125rem solid var(--green-primary);
}

button.secondary:hover {
    background-color: var(--green-primary);
    color: white;
}

button.secondary:focus {
    background-color: var(--green-dark);
    color: white;
}


/*
 *  Header component
 */
.hero-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)),
    url("../img/hero-image.jpg");
    background-position: center;
    background-size: cover;
    height: 75vh;

}

.hero-header .text {
    margin-left: var(--margin-large);

}

.hero-header h1 {
    color: var(--green-light);
    font-size: 3rem;
    line-height: 1;
}

.hero-header p {
    margin-top: 0.5rem;
    color: white;
    max-width: 75vw;
}


/*
    ABOUT US SECTION
 */

#about-us {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

#about-us img {
    width: 33%;
}

#about-us img, #about-us .text {
    padding: 1rem;
}


@media screen and (max-width: 768px) {
    #about-us {
        flex-direction: column;
    }

    #about-us img {
        width: 100%;
    }
}

/*
    STATS SECTION
 */

#stats {
    align-items: normal;
}

#stats h2 {
    text-align: center;
}

#stats .stat-card-list {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

#stats .stat-card {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    padding: 2rem 4rem;
    text-align: center;
    border: 0.125rem solid var(--border-gray);
    border-radius: 0.5rem;
}

#stats .material-name {
    text-transform: uppercase;
}

#stats .amount {
    font-size: 2.25rem;
}

#stats button {
    margin: auto;
}


@media screen and (max-width: 1180px) {
    #stats .stat-card {
        padding: 2rem;
    }
}

@media screen and (max-width: 768px) {
    #stats .stat-card-list {
        flex-direction: column;
    }
}

/*
    TWO-COLUMN DIV
 */

.two-column {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
}

@media screen and (max-width: 768px) {
    .two-column {
        flex-direction: column;
    }

}

/*
 *  PRICES SECTION
 */

#prices {
    width: 35%;
}

#prices .price-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: stretch;
    width: 100%;
}

#prices .price-list--item {
    display: flex;
    justify-content: space-between;
}

#prices .material {
    font-weight: bold;
}


@media screen and (max-width: 768px) {
    #prices {
        width: 100%;
    }

}

/*
    CONTACT COMPONENT
 */

#contacts {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

}

#contacts #map {
    height: 350px;
}

@media screen and (max-width: 768px) {
    #contacts {
        flex-direction: column;
        align-items: flex-start;
    }

    #contacts #map {
        width: 100%;
        height: auto;
    }
}
