/*
 *  VARIABLES DECLARATION
 */

:root {
    --bg-gray: #F0EDE4;
    --green-primary: #008F66;
    --green-light: #00B884;
    --text-normal: #111111;
    --text-gray: #707070;


    --margin-large: 2rem;

}

/*
 *  RESETTING DEFAULT VALUES
 */

* {
    box-sizing: border-box;
    margin: 0;
}

/*
 *  GLOBAL DECLARATIONS
 */

body {
    background-color: var(--bg-gray);
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

/*
    GENERAL TYPOGRAPHY
 */

h1, h2, h3, p {
    color: var(--text-normal);
}

h1, h2, h3 {
    font-weight: bold;
}


/*
 *  Header component
 */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header .text {
    margin-left: var(--margin-large);

}

header h1 {
    color: var(--green-primary);
    font-size: 3rem;
    line-height: 1;
}

header img {
    max-width: 50%;
    margin-right: var(--margin-large);
}