/*
 *  VARIABLES DECLARATION
 */

:root {
    --bg-gray: #F0EDE4;
    --green-primary: #008F66;
    --green-light: #00B884;
    --green-dark: #006649;
    --text-normal: #111111;
    --text-gray: #707070;
    --border-gray: #ccc;


    --margin-large: 2rem;
}

/*
 *  RESETTING DEFAULT VALUES
 */

* {
    box-sizing: border-box;
    margin: 0;
}

/*
 *  GLOBAL DECLARATIONS
 */

body {
    background-color: var(--bg-gray);
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

/*
    GENERAL TYPOGRAPHY
 */

h1, h2, h3, p {
    color: var(--text-normal);
}

h1, h2, h3 {
    font-weight: bold;
}

p {
    max-width: 75ch;
}

/*
 *  GENERAL LAYOUT
 */

section {
    margin-top: calc(1.75 * var(--margin-large));
    padding: 1rem;
}

/*
 *  Header component
 */
.hero-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)),
    url("../img/hero-image.jpg");
    background-position: center;
    background-size: cover;
    height: 75vh;

}

.hero-header .text {
    margin-left: var(--margin-large);

}

.hero-header h1 {
    color: var(--green-light);
    font-size: 3rem;
    line-height: 1;
}

.hero-header p {
    margin-top: 0.5rem;
    color: white;
    max-width: 75vw;
}


/*
    ABOUT US SECTION
 */

#about-us {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

#about-us img {
    width: 33%;
}

#about-us img, #about-us .text {
    padding: 1rem;
}


@media screen and (max-width: 768px) {
    #about-us {
        flex-direction: column;
    }

    #about-us img {
        width: 100%;
    }
}
