{% extends '__base.jinja2' %}

{% block content %}
    <main>
        <h1>Registrace</h1>
        <form action="#" method="POST">
            {{ form.hidden_tag() }}

            {% if form.errors %}
                <ul class="form-errors">
                    {% for field, errors in form.errors.items() %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}

            <h2>Základní informace</h2><br>
            {{ form.first_name.label }}
            {{ form.first_name }}
            <br>

            {{ form.last_name.label }}
            {{ form.last_name }}
            <br>

            {{ form.username.label }}
            {{ form.username }}
            <br>

            {{ form.telephone_number.label }}
            {{ form.telephone_number }}
            <br>

            {{ form.password.label }}
            {{ form.password }}
            <br>

            {{ form.confirm_password.label }}
            {{ form.confirm_password }}
            <br>

            <h2>Trvalé bydliště</h2> <br>
            {{ form.street.label }}
            {{ form.street }}
            <br>

            {{ form.house_number.label }}
            {{ form.house_number }}
            <br>

            {{ form.city.label }}
            {{ form.city }}
            <br>

            {{ form.zip_code.label }}
            {{ form.zip_code }}
            <br>

            {{ form.submit() }}
        </form>
    </main>
{% endblock %} {# End of block content #}