{% extends '__base.jinja2' %}

{% block content %}
    <h1>Chyba 403</h1>
    <p>Nemáte dostatečné pravomoci pro přístup na tuto stránku</p>
    <img src="https://http.cat/403.jpg" alt="Obrázek s kočičkou popisující chybu">
{% endblock %}
