{% extends '__base.jinja2' %}

{% block content %}
    <main>
        <h1>Změna hesla</h1>
        <form action="#" method="POST">
            {{ form.hidden_tag() }}

            {{ form.password.label }}
            {{ form.password }}
            <br>

            {{ form.confirm_password.label }}
            {{ form.confirm_password }}
            <br>

            {{ form.submit() }}
        </form>
    </main>
{% endblock %} {# End of block content #}