{% extends '__base.jinja2' %}

{% block content %}
    <main>
        <div>
            <h1>Změna údajů uživatele {{ user.login }}</h1>
            <a href="{{ url_for('user.view_change_password_page') }}">
                <button class="secondary">Změnit heslo</button>
            </a>
            <a href="{{ url_for('user.view_change_address_page') }}">
                <button class="secondary">Změnit primární adresu</button>
            </a>
            <a href="{{ url_for('user.view_change_secondary_address_page') }}">
                <button class="secondary">Změnit sekundární adresu</button>
            </a>
            {% if current_user.is_administrator() %}
                <a href="{{ url_for('admin.change_role', id=user.user_id) }}">
                    <button class="secondary">Změnit roli</button>
                </a>
            {% endif %}


            <form action="#" method="POST">
                {{ form.hidden_tag() }}

                <h2>Základní informace</h2><br>
                {{ form.first_name.label }}
                {{ form.first_name }}
                <br>

                {{ form.last_name.label }}
                {{ form.last_name }}
                <br>

                {{ form.telephone_number.label }}
                {{ form.telephone_number }}
                <br>

                {{ form.submit() }}
            </form>
        </div>
    </main>
{% endblock %} {# End of block content #}