{% extends '__base.jinja2' %}

{% block content %}
    <main>
        {% if current_user.is_administrator() or current_user.is_worker() %}
            {# Dashboard for workers and admins #}
            <h1>Přehled {% if current_user.is_administrator() %}správce{% else %}
                pracovníka{% endif %} {{ current_user.login }}</h1>

            <section id="dashboard">
            <div id="registration-requests">
                <h2>Žádosti o registraci</h2>
                <div class="list">
                    {% for req in data.registration_requests %}
                        <div class="list--item">
                            <div class="list--item--text">
                                <a href="{{ url_for('user.view_profile_page', id=req.user_id) }}">{{ req.first_name }} {{ req.last_name }} </a>
                            </div>
                            <a class="list--item--right" href="{{ url_for('user.confirm_user', id=req.user_id) }}">
                                Potvrdit <span class="material-symbols-outlined">done</span>
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <a href="{{ url_for('admin.view_users_page') }}?filter=waiting">
                    <button class="secondary">Přehled žádostí</button>
                </a>
            </div>
        {% else %}
            {# Dashboard for "normal" users #}
            <h1>Přehled uživatele {{ current_user.login }}</h1>
            <section id="dashboard">

            <div>
                <h2>Uživatelské statistiky</h2>
                <div class="tile-list">
                    <div class="tile">
                        <p class="tile--title">K vyplacení</p>

                        <p class="tile--value">{{ data.total[0] }} Kč</p>

                    </div>
                </div>
            </div>

        {% endif %}

        <div id="last-purchases">
            <h2>Moje poslední výkupy</h2>
            <div class="list">
                {% for purchase in data.purchases %}
                    <div class="list--item">
                        {% if current_user.is_administrator() or current_user.is_worker() %}
                            <div class="list--item--text">
                                <a href="{{ url_for('user.view_profile_page', id=purchase.selling_customer.user_id) }}">{{ purchase.selling_customer.first_name }} {{ purchase.selling_customer.last_name }}</a>
                                <p>{{ moment(purchase.date).format('DD. MM. YYYY') }}</p>
                            </div>
                            <div class="list--item--right">
                                {{ purchase.material.name }} ({{ purchase.weight }} Kg)
                            </div>
                        {% else %}
                            <div class="list--item--text">
                                <p>{{ purchase.material.name }}</p>
                                <p>{{ moment(purchase.date).format('DD. MM. YYYY') }}</p>
                            </div>
                            <div class="list--item--right">
                                ({{ purchase.weight }} Kg)
                            </div>
                        {% endif %}
                    </div>

                {% endfor %}
            </div>
            <a href="{{ url_for('purchase.view_purchases_page') }}">
                <button class="secondary">Přehled výkupů</button>
            </a>
            {% if current_user.is_administrator() or current_user.is_worker() %}
                <a href="{{ url_for('purchase.view_add_purchase_page') }}">
                    <button class="primary">Přidat výkup</button>
                </a>
            {% endif %}
        </div>


        <div id="price-list">
            <h2>Ceník</h2>
            <div class="list">
                {% for price in data.price_list %}
                    <div class="list--item">
                        <div class="list--item--text"><span>{{ price.name }}</span></div>
                        <div class="list--item--right"><span>{{ price.price }}&nbsp;Kč/Kg</span></div>
                    </div>
                {% endfor %}
            </div>
            {% if current_user.is_administrator() or current_user.is_worker() %}
                <button class="secondary">Upravit</button>
            {% endif %}
            <button class="secondary">Více</button>
        </div>
        </section>
    </main>
{% endblock %} {# End of block content #}