<footer>
    <div>
        <h3>Jména tvůrců</h3>
        <ul>
        <li>
            Libor Randula
        </li>
        <li>
            Filip Synek
        </li>
        <li>
          Tomáš Zatloukal
        </li>
      </ul>
        <span>&copy;2022-2023 MojeSberna</span>
    </div>

</footer>