<nav>
    <a href="{{ url_for('main.view_home_page') }}">
        <img class="logo" src="{{ url_for('static', filename='img/logo.svg') }}" alt="logo">
    </a>
    <div class="hamburger">
        <span
                class="material-symbols-outlined"
                onclick="document.getElementById('menu-items').classList.toggle('visible')"
        >
            menu
        </span>
    </div>
    <ul id="menu-items" class="menu-items">

        <li><a href="{{ url_for('main.view_home_page') }}">Domů</a></li>
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('user.view_dashboard_page') }}">Přehled</a></li>
        {% endif %}
        <li><a href="{{ url_for('main.view_home_page') }}#about-us">O nás</a></li>
        <li><a href="{{ url_for('main.view_home_page') }}#prices">Ceník</a></li>
        <li><a href="{{ url_for('main.view_home_page') }}#contacts">Kontakt</a></li>

        {% if not current_user.is_authenticated %}
            <li><a href="{{ url_for('auth.view_register_page') }}">Registrace</a></li>
            <li><a href="{{ url_for('auth.view_login_page') }}">Přihlásit se</a></li>
        {% else %}
            {% if current_user.is_administrator() %}
                <li class="has-dropdown"><a href="#">Administrace <span
                        class="material-symbols-outlined">expand_more</span></a>
                    <ul class="dropdown">
                        <li><a href="{{ url_for('purchase.purchases_page') }}">Výkupy</a></li>
                        <li><a href="{{ url_for('admin.view_users_page') }}">Přehled uživatelů</a></li>
                        <li><a href="{{ url_for('admin.users_role_page') }}">Role uživatelů</a></li>
                    </ul>
                </li>
            {% endif %}
            <li class="has-dropdown"><a href="#">{{ current_user.login }} <span class="material-symbols-outlined">expand_more</span></a>
                <ul class="dropdown">
                    <li><a href="{{ url_for('user.view_change_personal_page') }}">Nastavení</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Odhlásit se</a></li>
                </ul>
            </li>

        {% endif %}
    </ul>
</nav>